@media screen and (max-width: 600px) {
  table.web-and-mobile thead {
    display: none;
  }

  table.web-and-mobile tr {
    padding: 2px;
    display: block;
    margin: .5rem 0 1rem;
    box-shadow: 0 2px 2px 0 #808080 ,0 2px 5px 0 #808080;
  }

  table.web-and-mobile td {
    display: block;
    text-align: left;
    border-bottom: 1px solid #ccc;
  }

  table.web-and-mobile td:before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
  }

  table.web-and-mobile td:last-child {
    border-bottom: 0;
  }
}
