body {
    background-color: white;
}

h1 {
    color: black;
    text-align: center;
    font-size: 50px;
    font-family: "Helvetica";
}

p {
    font-family: "Helvetica";
    font-size: 20px;
}

tr{
    margin-left:10px;
    font-size: 14px;
    font-family: "Helvetica";
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

th{
    font-size: 16px;
    background-color: lightgrey;
    color: white;
    height: 40px;
}

table{
    margin-top:20px;
    border-spacing: unset;
}

td{
    height: 25px;
    text-align: left;
}

td, th {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: left;
}

#addDataButton{
    background-color: lightgrey;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    float: left;
}

#printButton{
    background-color: dimgrey;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    float: left;
}

#searchInput{
    width: 22%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    float: right;
}

input:required {
    width: 20%;
    height: 20px;
    border:0.5px solid tomato;
}

input:valid {
    width: 20%;
    height: 20px;
    border:0.5px solid grey;
}

.col-20 {
    float: left;
    width: 20%;
    margin-top: 10px;
    font-size: 14px;
    font-family: "Helvetica";
}

.col-80 {
    float: left;
    width: 80%;
    margin-top: 10px;
}

#json-output {
    margin-top: 20px;;
}

.col-100{
    float: left;
    width: 100%;
    margin-top: 10px;
    font-size: 14px;
    font-family: "Helvetica";
}

#back-button{
    font-family: "Helvetica";
    background-color: lightgrey;
    margin-top: 20px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    color: white;
}

#submitDataButton{
    font-family: "Helvetica";
    background-color: dimgrey;
    margin-top: 20px;
    margin-left: 12.5%;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    color: white;
}

#submitDataButton:disabled{
    background-color: grey; /* Grey */
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

#grid-header {
    padding-right: 15px;
    padding-left: 15px;
}

.search.form-group {
    float: right;
}

#csvExportButton{
    background-color: blue;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    float: left;
}

#pdfExportButton{
    background-color: green;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    float: left;
}

