/**
 * Print Stylesheet
*/

/* reference code from: https://www.encodedna.com/javascript/populate-json-data-to-html-table-using-javascript.htm */

@media print {
  .hideForPrint {
    display: none;
  }
  .example-print {
    display: block;
  }
  th, td, p, input {
    font: 14px Helvetica;
  }
  table, th, td {
    border: solid 1px #DDD;
    border-collapse: collapse;
    padding: 2px 3px;
    text-align: center;
  }
  th {
    font-weight: bold;
  }
}